/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'node_modules/ngx-toastr/toastr.css';

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.alert-danger {
    padding: 5px !important;
}

.table-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.table-bordered {
    margin-top: 0px !important;
}